<div class="line">
    <h3 class="section-title">Competency</h3>
    <h5 class="kor-name com-kor-name">✔ 역량</h5>
    <dl class="competency introduction">
        {% for com in site.data.competency %}
            <dt class="com-dt"><p class="com-title center">{{ com.main }}</p></dt>
            <dd>
                <p>▶ {{ com.title }} ◀</p>
                <div class="com-info">
                    {% if com.problem %}
                        <b class="com-bold-title-color">Problem</b><br/>
                        {{ com.problem | strip | markdownify }}
                    {% endif %}
                    <b class="com-bold-title-color">Solution</b>
                    {{ com.solution | strip | markdownify }}
                    <b class="com-bold-title-color">Competency</b><br/>
                    <p>{{ com.competency }}</p>
                </div>
            </dd>
        {% endfor %}
    </dl>
</div>
