<div class="line">
    <h3 class="section-title">Competency</h3>
    <h5 class="kor-name">✔ 역량</h5>
    <dl class="competency">
        {% for com in site.data.competency %}
            <dt><p class="com-title center">{{ com.main }}</p></dt>
            <dd class="com-info">
                <p class="introduction">▶ {{ com.title }}</p>
                <b>Problem</b><br/>
                <p class="introduction com-info">{{ com.problem }}</p>
                <b>Solution</b>
                <p class="introduction com-info">
                    {{ com.solution | strip | markdownify }}
                </p>
                <b>KEY POINT : </b><br/>
                <p class="introduction com-info">{{ com.competency }}</p>
            </dd>
        {% endfor %}
    </dl>
</div>
