<div class="line">
    <h3 class="section-title">Competency</h3>
    <h5 class="kor-name">✔ 역량</h5>
    <dl class="competency introduction">
        {% for com in site.data.competency %}
            <dt><p class="com-title center">{{ com.main }}</p></dt>
            <dd>
                <p>▶ {{ com.title }}</p>
                <div class="com-info">
                    <b>Problem</b><br/>
                    <p>{{ com.problem }}</p>
                    <b>Solution</b>
                    {{ com.solution | strip | markdownify }}
                    <b>KEY POINT : </b><br/>
                    {{ com.competency | strip | markdownify }}
                    <p>{{ com.competency }}</p>
                </div>
            </dd>
        {% endfor %}
    </dl>
</div>
