<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <ul class="title">
                <li>{{ qualification.qualification | strip | markdownify }}</li>
            </ul>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <ul class="description">
                <li>{{ qualification.description | strip | markdownify }}</li>
            </ul>
        </dd>
    {% endfor %}
</dl>
