<div class="line">
    <h3 class="section-title">Experience</h3>
    <h5 class="kor-name">경력사항</h5>
    <dl class="experience special-bottom">
        {% for job in site.data.jobs %}
            <dt>
                <p class="extra-title">{{ job.company }}</p>
                <p class="company">{{ job.title }}</p>
                <p class="period">{{ job.period }}</p>
                <p class="company">
                    <span class="domain">{{ job.domain }}</span>
                </p>
                {% assign info_parts = job.info | split: "\n" %}
                {% for info in info_parts %}
                   ----- {{ info }}
                    {% if info contains "https://"%}
                        {% if info contains "eql" %}
                            <p><a href="{{ info | strip }}" target="_blank">EQL (click)</a></p>
                        {% elsif info contains "hfashion" %}
                            <p><a href="{{ info | strip }}" target="_blank">H Fashion (click)</a></p>
                        {% elsif info contains "cj" %}
                            <p><a href="{{ info | strip }}" target="_blank">CJ더마켓 (click)</a></p>
                        {% else %}
                            <p>{{ info | strip | markdownify }}</p>
                        {% endif %}
                    {% else %}
                        <p>{{ info | strip | markdownify }}</p>
                    {% endif %}
                {% endfor %}
            </dt><!--
            --><dd>
<!--                 <p>{{ job.description }}</p> -->
                <ul class="description">
                    <li>{{ job.description | strip | markdownify }}</li>
                </ul>
            </dd>
        {% endfor %}
    </dl>
</div>
