<div class="line">
    <h3 class="section-title">Experience</h3>
    <h5 class="kor-name">경력사항</h5>
    <dl class="experience">
        {% for job in site.data.jobs %}
            <dt>
                <p class="title">{{ job.company }}</p>
                <p class="company">{{ job.title }}</p>
                <p class="period">{{ job.period }}</p>
                <p class="company">
                    <span class="domain">{{ job.domain }}</span>
                </p>
                <ul class="period">
                    <li>{{ job.info | strip | markdownify }}</li>
                </ul>
            </dt><!--
            --><dd>
<!--                 <p>{{ job.description }}</p> -->
                <ul class="description">
                    <li>{{ job.description | strip | markdownify }}</li>
                </ul>
            </dd>
        {% endfor %}
    </dl>
</div>
