<div class="line">
    <h3 class="section-title">Extra Information</h3>
    <h5 class="kor-name">✔ 추가정보</h5>
    <dl class="education exta-container">
        {% for extra in site.data.extra %}
            <dt>
                <p>{{ extra.qualification | strip | markdownify }}</p>
                <p class="period">{{ extra.period }}</p>
                <p class="company">{{ extra.organizer }}</p>
            </dt><!--
            --><dd>
                <div class="description">
                    {{ extra.description | strip | markdownify }}
                </div>
            </dd>
        {% endfor %}
    </dl>
</div>
