<header>
    <div class="container">
        <div class="intro">
<!--             <p class="intro__pre">Hello</p> -->
            <p class="intro__main">
                <span>{{ site.name }}</span>
<!--                 a {{ site.job }} who loves all things {{ site.languages }}</p> -->
            <p class="intro__post">{{ site.title2 }}</p>
        </div>

        
        <div class="social">
            <a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a>
            <div> https://github.com/{{ site.github_username }} </div>
            <a href="mailto:{{ site.email_address }}" target="_blank">Email</a>
            <div>{{ site.email_address }} </div>
            <a href="{{ site.blog_address }}" target="_blank">blog</a>
            <div>{{ site.blog_address }} </div>
        </div>

    </div>
</header>
