<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>이동욱</h1>
      <h2>서버 백엔드 엔지니어</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print"><li>
            <a target="_blank" href="https://www.facebook.com/jojoldu" class="button button--sacnite button--round-l">
              <i class="fab fa-facebook" title="Facebook link"></i>
            </a>
          </li><li>
            <a target="_blank" href="https://github.com/jojoldu" class="button button--sacnite button--round-l">
              <i class="fab fa-github" title="Github link"></i>
            </a>
          </li><li>
            <a target="_blank" href="https://www.youtube.com/UCSEOUzkGNCT_29EU_vnBYjg" class="button button--sacnite button--round-l">
              <i class="fab fa-youtube" title="Youtube link"></i>
            </a>
          </li>
      </ul><p>
          Email: <a href="mailto:jojoldu@gmail.com" target="_blank">jojoldu@gmail.com</a>
        </p><p>
          Web: 
<a href="https://jojoldu.tistory.com" target="_blank" class="">https://jojoldu.tistory.com</a>
        </p></div>
  </div>
