<div class="line">
    <h3 class="section-title">Project</h3>
    {% for job in site.data.jobs %}
        <h4 class="kor-name">{{ job.index }} 프로젝트 </h4>
        <dl class="experience">
            <dt>
                <p class="title">{{ job.company }}</p>
                <p class="company">{{ job.title }}</p>
                <p class="period">{{ job.period }}</p>
                <p class="company">
                    <span class="domain">{{ job.domain }}</span>
                </p>
                <ul class="period">
                    {{ job.info | strip | markdownify }}
                </ul>
            </dt><!--
            --><dd>
                {{ job.description | strip | markdownify }}
            </dd>
        </dl>
    {% endfor %}
</div>
