<div class="line">
    <h3 class="section-title">Project</h3>
    {% for pro in site.data.project %}
        <h4 class="kor-name"><b>{{ pro.index }}</b>. {{ pro.title }} </h4>
        <dl class="experience">
            <dt>
                <p class="period">{{ pro.period }}</p>
                <ul class="pro-info">
                    {{ pro.info | strip | markdownify }}
                </ul>
            </dt><!--
            --><dd class="description">
                {{ pro.description | strip | markdownify }}
            </dd>
        </dl>
    {% endfor %}
</div>
