// @name Resume
// @description All resume styles

.me-img {
    margin-top: $spacer;
}

.introduction {
    letter-spacing: 1px;
    line-height: 2;
}

.profile {
    width: 240px;
    border: 5px dashed lightblue;
}
