// @name Resume
// @description All resume styles

.com-title {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}

.com-dt {
    width: 100%;
    padding: 10px;
    margin-bottom: ($spacer * 0.5);
}

.competency dd {
    margin-left: ($spacer * 3);
    margin-right: ($spacer * 3);
}

.competency dd p {
    font-size: small;
}

.competency ul {
    font-size: small;
}

.com-info {
    font-size: small;
}

.com-bold-title-color {
    font-size: small;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: tomato;
}

.com-kor-name {
    margin-bottom: 20px;
}

.competency mark{
    background-color: #b39bcf;
    border-radius: 3px;
    font-size: 90%;
    color: #fff;
    padding: 2px 4px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}