// @name Resume
// @description All resume styles

.com-title {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}

.com-dt {
    width: 100%;
    padding: 10px;
    margin-bottom: ($spacer * 0.5);
}

.competency dd {
    margin-left: ($spacer * 3);
    margin-right: ($spacer * 3);
}

.competency dd p {
    font-size: smaller;
}

.com-info {
    font-size: smaller;
}

.com-bold-title-color {
    font-size: small;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: tomato;
}
