// @name Resume
// @description All resume styles

@media(min-width: 640px) {
    .education {
        dt, dd {
            width: 50%;
        }
    }
}

.edu-description {
    font-size: small;
    letter-spacing: 1px;
    line-height: 1.8;
}
