// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin: $spacer;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
        margin: $spacer;
    }

    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
        }
        dd {
            width: 70%;
        }
    }

    .education {
        dt, dd {
            width: 50%;
        }
    }
}

.title {
    margin: 0;
    font-size: 1.5rem;
}

.period {
    line-height: normal;
    font-size: small;
    color: gray;

}

.period ul {
    list-style: inside;

}

.domain{
    font-style: italic;
    background-color: papayawhip;
}

.description {
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 90%;
}

a {
    color: black!important;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}
