// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
    }

    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
        }
        dd {
            width: 70%;
        }
    }
}

.pro-title {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: $spacer;
    margin-top: $spacer;
    font-weight: bold;
    padding-bottom: $spacer;
    padding-left: ($spacer*3);
    padding-right: ($spacer*3);
}

.pro-title p {
    padding: ($spacer*0.5);
    border-bottom: 3mm ridge rgba(213, 197, 232, 0.1);
}

.period {
    line-height: normal;
    font-size: small;
    color: gray;
    margin-botton: 10px;

}

.pro-info ul {
    list-style: inside;
    font-size: small;
    margin: 5px;
}

.domain{
    font-style: italic;
    background-color: papayawhip;
}

.pro-description {
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 90%;
}

.pro-description ul ul {
    list-style: inside;
    list-style-type: circle;
}

.pro-description mark{
    background-color: #b39bcf;
    border-radius: 3px;
    color: #fff;
    font-size: 90%;
    padding: 2px 4px;
}

a {
    color: black!important;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}
