// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
}

dt {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
}

@media(min-width: 640px) {
    dt {
        margin-bottom: 60px;
    }

    .qualification{
        dt {
            width: 33%;
            border-top: 2px solid #adb5bd;
            padding: 15px;
        }
    }
}

.qualification {
     &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -25px;
        width: 50px;
        height: 1px;
        background: #222;
    }
}

.qualification.title {
    margin: 0;
    font-size: 1rem;
    color: steelblue;
}

.period {
    line-height: normal;
    font-size: small;
    color: gray;

}


.description {
    letter-spacing: 1px;
    line-height: 1.5;
}

.company {
    color: gray;
    font-style: italic;
}

.extra-list {
    font-size: small;
}

.extra-list ul {
    list-style: none;
}

a {
    color: black!important;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}
