// @name Resume
// @description All resume styles

.qualification dt {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
    padding: 15px;
}

@media(min-width: 640px) {
    .qualification{
        dt {
            width: 19%;
            // border-top: 2px solid #edefee;
            padding: 15px;
        }
    }
}

.qual-title {
    margin: 0;
    font-size: 1rem;
    color: steelblue;
}

.qual-company {
    color: gray;
    font-size: x-small;
}
